/** Side Nav Formatting */

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    top: 64px !important;
    width: 250px;
    left: 0;
}


/** Router Outlet Formating */

.router-outlet {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}